@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

//animations
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@keyframes scaleCenter {
  from {transform: scale(.5);}
  to {transform: scale(1);}
}

@keyframes scaleOut {
  from {transform: scale(1);}
  to {transform: scale(.5);}
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  50% {
    opacity: 1;
    transform: scale(1.05);
  } 

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

//colors
$color-dark-grey: rgba(25, 0, 50, 1);
$color-light-grey: #353940;
$text-color-white: #f2f2f2;
$text-color-dark: #6a6e6c;
$text-color-darkest: #0e0e0f;
$nav-link-color: #42f593;
$color-white: #f2f2f2;
$color-bright-blue: rgba(25, 35, 125, 1);
$color-brighter-blue: rgba(75, 25, 125, 1);
$color-dark-blue: rgba(100, 25, 150, 1);

//text sizes
$text-small: 1rem;
$text-normal: 1.5rem;
$text-big: 1.8rem;
$text-huge: 2.3rem;
$text-great: 3.2;
$text-xl: 4.2rem;
$menu: 6rem;

//breakpoints
$at-lg: 1090px;
$at-nm: 1020px;
$at-md: 760px;
$at-sm: 400px;

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
}

body{
  box-sizing: border-box;
  overflow: hidden;
  background-color: $color-dark-grey;
}

html{
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: visible;
  
  @media(max-width: $at-md){
    font-size: 50%;
  }
  
  @media(max-width: $at-sm){
    font-size: 40%;
  }
}

html::-webkit-scrollbar {
  width: 1.3rem;
  background-color: $color-light-grey; 
  overflow: visible;
}

html::-webkit-scrollbar-thumb {
   background: rgba(75, 25, 125, 1); 
}

*::selection {
  background: rgba(75, 25, 125, 1);
}


//BACK TO TOP ARROW
.arrow-entered{
  z-index: 9999999;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: $color-dark-grey;
  padding: 2rem;
  border: 1px solid $color-light-grey;
  border-radius: 10px;
  transition: all .2s;
  cursor: pointer;
  
  @media(max-width: $at-md){
    border: 1px solid rgba($color-light-grey, .7);
    background-color: rgba($color-dark-grey, .7);
    bottom: 8.3rem;
    right: 2.3rem;
  }
  
  svg{
    fill: #331684;
    height: 3rem;
    width: 3rem;
  }
  
  &:hover{
    bottom: 3.3rem;
    box-shadow: 0 0 20px 2px rgba(71, 30, 114, 1);
    
      @media(max-width: $at-md){
        bottom: 8.3rem;
        right: 2.3rem;
      }
  }
  
  &:active{
    bottom: 3rem;
    box-shadow: 0 0 15px 1px rgba(71, 30, 114, 1);
    
    @media(max-width: $at-md){
      bottom: 8.3rem;
      right: 2.3rem;
    }
  }
}

.arrow-entering{
  z-index: 999;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: $color-dark-grey;
  padding: 2rem;
  border: 1px solid $color-light-grey;
  border-radius: 10px;
  transition: all .2s;
  cursor: pointer;
  animation: fadeIn .5s, scaleCenter .5s;
    
  svg{
    fill: rgba(75, 25, 125, 1);
    height: 3rem;
    width: 3rem;
  }
  
    @media(max-width: $at-md){
    bottom: 8.3rem;
    right: 2.3rem;
  }
}

.arrow-exiting{
  z-index: 999;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: $color-dark-grey;
  padding: 2rem;
  border: 1px solid $color-light-grey;
  border-radius: 10px;
  transition: all .2s;
  cursor: pointer;
  animation: fadeOut .5s, scaleOut .5s;
  
   svg{
    fill: rgba(75, 25, 125, 1);
    height: 3rem;
    width: 3rem;
  }
  
  @media(max-width: $at-md){
    bottom: 8.3rem;
    right: 2.3rem;
  }
}

.arrow-exited{
  display: none;
}

.social-icons{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 99999;
  bottom: 40%;
  left: 0;
  font-size: $text-xl;
  background-color: $color-dark-grey;
  padding: .8rem;
  border: 1px solid $color-light-grey;
  animation: fadeIn .5s;
  border-radius: 0 5px 5px 0;
  transition: all .1s;
  
  @media(max-width: $at-md){
    border-radius: 0 0 0 0;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    bottom: 0;
    left: 0;
  }
  
  a{
    color: rgba(71, 30, 114, 1);
    line-height: 0;
    transition: all .3s;
  }
  
  a:hover{
    color: $text-color-white;
  }
  
  &:hover{
    background-color: $color-light-grey;
    padding-left: 1.3rem;
  }
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text-color-white;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-position: cover;
  background-image: linear-gradient(
      to right bottom,
      rgba(118, 97, 149, .5),
      rgba(137, 139, 205, .7)
    ), url(https://image.freepik.com/free-vector/milky-way-night-star-sky-stars-dark-background_172933-70.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  
  @media(max-width: $at-nm){
    clip-path: none;
  }
}

.header-photo{
  animation: fadeIn .8s, scaleCenter .8s;
  border: 1px solid $color-white;
  margin: 1rem;
  border-radius: 700px;
  height: 25rem;
  width: 25rem;
  background-position: center;
  background-size: cover;
  background-image: url(https://lh3.googleusercontent.com/r84MFEh28SROdEAm4EHsf9sCJwllLeVbOUBvy4-lOwpii0MBD-00ZWCd6iq8g9ReUtl4CZd6r3vTPYjdSi9uYQVDkjI-ikTff9tdDoKZ0cDpBdoi0P_Yklre1KtVQBcABYQGM9E0pp73xLdie3xSt-RMnCqFBb6-yDfPyq7Q29Im6CalsV5Y4stxSF07I8-wzjRI15Ho_gTJBESXxnoSuPNcjrksMbSsDMK1UVMdGfoEMQYLgqNmhrjZW0YGT2asSS3poJ_D1YixLgiSRkmOgKYmhc5rXeuA8Qpix7ef3pDzkIk6EBjsqXCmhpuL5EMSihpzGIdx8eF75iVE3H8nguhsaTnyUHULqsshHSxJqiDF3ApIh4pOR78ZzcFndsRNtj_0600V_m1g0FgD2yjRxRFCorYOTXqD5gpp5Ru_0n0k4a_1k1Dy_1fbZ9M87rEoxmYrEr7vgo3vrOf_9zXQ-SYHmkq29ajyuyiMhMCSIe-44yN1xCsQJmsvdF8djwwiHjd-0ENRA0AlcTYCtQQCKPL4ougxzBLNd9_JXWL6vuNSiO8v1s_Gb805-lbjqHsp8ll-936N_ocvs6c7XEH4imkFw-tjLPKr39DnkQ5GH0fdzCBUgofk3_kMchrbBnLqJMxy9hGactOvPFzlPIY_Jt3RGatG5oIpgS32wBN86n7kAob_IF4kOpMZrBPcthBUdY4QXpfQKxLG8PCSKYs1wGTK=w893-h1192-no?authuser=0);
}

.header-photo-outline{
  animation: fadeIn .4s, scaleCenter .4s;
  border: .4rem solid $color-white;
  margin-bottom: 3.5rem;
  transition: all 2s;
  
  @media(max-width: $at-md){
    border: .8rem dotted $color-white;
  }
}

.header-text{
  font-weight: bold;
  color: $text-color-white;
  
  h1{
    font-size: $text-xl;
  }
  
  p{
    font-size: $text-huge;
  }
  
  @media(max-width: $at-sm){
     h1{
      font-size: $text-huge;
    }

    p{
      font-size: $text-big;
    }
  }
}

.navbar{
  width: 100%;
  color: $text-color-white;
  z-index: 99999;
  position: fixed; 
  transition: all .2s;
  
  &-logo{
    border: 1px solid $color-light-grey;
    animation: bounceIn 1s;
    transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
  }
  
  &-logo:hover{
    transform: skewY(-3deg) scale(1.1);
  }
  
  span{
    cursor: pointer;
    margin: 2rem;
    padding: .8rem;
    border-radius: 20px;
    float: left;
    font-weight: bold;
    color: $text-color-dark;
    font-size: $text-big;
    background-color: rgba(71, 30, 114, 1);
    
    @media(max-width: $at-nm){
      display: none;
      float: none;
    }
  }
  
  ul li{
    float: right;
    list-style: none;
    font-size: $text-big;
    font-weight: bold;
    display: inline;
    margin: 2rem;
    padding: .8rem;
    text-transform: uppercase;
    z-index: 20;
  }
  
  a{
    z-index: 20;
    position: relative;
    text-decoration: none;
    color: $color-white;
    position: relative;
    transition: all .2s;
  }
  
  a:hover{
    color: rgba(61, 22, 123, 1);
  }
    
  a::before{
  position: absolute;
  z-index: -1;
  content: "";
  background: $color-dark-grey;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  transition: all .2s cubic-bezier(1,-0.46,.65,1.33);
}

a:hover::before{
  position: absolute;
  z-index: -1;
  height: calc(100% + 8px);
}
  
  &-entering{
  background-color: rgba($color-dark-grey, 0);
  }
  &-entered{
    background: rgba($color-dark-grey, 1);
  }
  &-exiting{
    background: rgba($color-dark-grey, 0);
  }
  &-exited{
    background: rgba($color-dark-grey, 0);
  }
  
  
  @media(max-width: $at-md){     
     ul li{
      float: right !important;
     }
  }
}

@media(max-width: $at-nm){
  .navbar{
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

@media(max-width: $at-sm){
  .navbar{
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

.section-default{
  padding: 4rem 20rem;
  color: $text-color-white;
  
  h1{
    font-size: $text-huge;
    text-transform: uppercase;
  }
  
  p{
    font-size: $text-big;
  }
}

  @media(max-width: $at-nm){
    .section-default{
       padding: 3rem 3rem;
    }
   
  }

.container{
    background-color: $color-dark-grey;
    padding-top: 25rem;
    margin-top: -20rem;
}

.show-case{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  
  p{
    font-size: $text-big;
  }
}

.card{
  display: flex;
  flex-direction: row;
  background-color: $color-white;
  color: $text-color-darkest;
  border-radius: 5px 8px 8px 5px;
  
  &:not(:last-child){
    margin-bottom: 3rem;
  }
  
   a {
      text-decoration: none;
      color: $text-color-dark;
      transition: all .2s;
     
     &:hover{
        color: rgba(61, 22, 123, 1);
        background-color: $color-dark-grey;
     }
    }
  
  
  &-content{
  display: flex;
  flex-direction: row;
  }
  
  &-text{
    width: 65%;
    padding: 3.2rem;
    text-align: justify;
    
    & p{
      font-weight: bold;
    }
    
    & hr{
      margin: 1.5rem 0;
    }
  }
  
  
  &-title{
    font-size: $text-huge;
  }
  
  &-image{
    background-size: cover;
    background-position: center;
    transition: transform .2s;
    height: 100%;
    width: 100%;
  }
  
  &-image-container{
    overflow: hidden;
    position: relative;
    width: 35%;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 5px 5px 0;
  }
  
  &:hover{
    .card-image{
      transform: scale(1.2) rotate(2deg);
    }
  }
}

.icons{
  font-size: $text-xl;
  padding: 0 .4rem;
  color: $text-color-dark;
}

.edu-wrap{
  position: relative;
  
  &:hover{
    .cover-bar{
     opacity: 0;
     -webkit-transition: all .5s;
     transition:all;
     display: none;
    }
  }
}

.education-container{
  margin-top: 2rem;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  
  &::-webkit-scrollbar {
  width: .4em; 
  }
  
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
  overflow:visible;
  }
  
  &::-webkit-scrollbar-thumb {
  background: rgba(75, 25, 125, 1); 
  }
}

.cover-bar{
  display: block;
  z-index: 1;
  position: absolute;
  background: $color-dark-grey;
  width: 100%;  
  bottom: 0;
  left: 0;
  height: 2.8rem;
  -webkit-transition: all .5s;
  transition:all;
  opacity: 1;
}

.edu-card{
  min-width: 33rem !important;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  background-color: $color-white;
  color: $text-color-darkest; 
  //padding: 2.5rem;
  border-radius: 3px;
  justify-content: space-between;
  //align-items: center;
  text-align: center;
  line-height: 2;
  
  &:hover{
    .edu-card-icon{
      svg{
       fill: rgba(61, 22, 123, 1) !important;
       filter: drop-shadow(0px 0px 10px rgba(61, 22, 123, .7));
      }
    }
  }
  
  h2{
    font-size: $text-big;
  }
  
  &-text{
    width: 100%;
  }
  
  hr{
    color: $color-dark-grey;;
  }
  
  &-icon{
    line-height: 0;
    z-index: 999;
    padding: 3rem 0;
    width: 100%;
    background-color: $color-light-grey;

    svg{
     fill: $text-color-white !important;
     transition: all .5s;
    }    
  }
  
  a {
   text-decoration: none;
   color: $text-color-dark;
   transition: all .2s;
     
   &:hover{
    color: rgba(61, 22, 123, 1);
    background-color: $color-dark-grey;
     }
    }
}

.about{
  margin-top: 2rem;
  text-align: justify;
  line-height: 1.5;
  
  span{
    font-weight: bold;
    margin-right: 2rem;
    text-transform: uppercase;
  }
  
  hr{
    margin: 2rem 0;
  }
  
  h2{
    font-size: $text-big;
    margin-bottom: .7rem;
  }
}

.contact{
  padding-top: 4rem;
  
  label{
    display: block;
    font-size: $text-big;
    line-height: 1.5;
    margin-top: .5rem;
  }
  
  .label{
    //transform-origin: 1rem 1rem;
    transform: translateY(-3.5rem) scale(.8);
    opacity: 0;
    transition: all .4s;
    visibility: hidden;
    background-color: $color-dark-grey;
    display: table;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .label-textarea{
    transform: translateY(-13rem) scale(.8);
    opacity: 0;
    transition: all .4s;
    visibility: hidden;
    background-color: $color-dark-grey;
    display: table;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  input{
    font-family: inherit;
    color: $text-color-white;
    display: block;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-bottom: .5rem;
    outline: none;
    border: 2px solid rgba(61, 22, 123, .7);
    border-radius: 10px;
    background-color: $color-dark-grey;
    box-sizing: border-box;
    
    
    &[type=text], &[type=email]{
      transition: all .4s;
      
      &::placeholder{
        color: rgba(61, 22, 123, .7);
        visibility: visible;
        opacity: 1;
        transition: all .5s;
        font-weight:bold;
      }
      
      &:focus{
       filter: drop-shadow(0px 0px 3px rgba(61, 22, 123, .5));
        
        &::placeholder{
          opacity: .3;
          visibility: hidden;
          font-weight:bold;
        }
        
        + .label{
          transform: translateX(2rem) translateY(-5.7rem) scale(.8);
          visibility: visible;
          color: rgba(61, 22, 123, 1);
          opacity: 1;
          font-weight: bold;
          
          @media(max-width: $at-md){
            transform: translateX(2rem) translateY(-6rem) scale(1);
          }
          
          @media(max-width: $at-sm){
            transform: translateX(2rem) translateY(-6.8rem) scale(1);
          }
        }
      }
      
      &:not(:placeholder-shown){
        + .label{
          transform: translateX(2rem) translateY(-5.7rem) scale(.8);
          visibility: visible;
          color: rgba(61, 22, 123, 1);
          opacity: 1;
          font-weight: bold;
          
          @media(max-width: $at-md){
            transform: translateX(2rem) translateY(-6rem) scale(1);
          }
          
          @media(max-width: $at-sm){
            transform: translateX(2rem) translateY(-6.8rem) scale(1);
          }
        }
      }
    
    }

    &[type=submit]{
      background: rgba(61, 22, 123, 1);
      color: $text-color-dark;
      font-size: $text-huge;
      box-sizing: border-box;
      width: 100%;
      resize: none;
      margin: .5rem 0; 
      padding: 1rem; 
      border-width: 0;
      transition: all .4s;
      font-weight: bold;
      
       &:hover{
        background: rgba(61, 22, 123, 1);
        color: $text-color-dark;
        cursor: pointer;
      }
      
    }
  }
  
  textarea{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 15rem;
    resize: none;
    margin: 0; 
    padding: 1.3rem; 
    font-family: inherit;
    font-size: $text-normal;
    font-weight:bold;
    transition: all .3s;
    outline: none;
    color: $text-color-white;
    background-color: $color-dark-grey;
    border: 2px solid rgba(61, 22, 123, 1);
    border-radius: 10px;
    
    @media(max-width: $at-md){
      font-size: $text-huge;
    }
    
 &::placeholder{
        color: rgba(61, 22, 123, .7);
        visibility: visible;
        opacity: 1;
        transition: all .5s;
      }
      
      &:focus{
       filter: drop-shadow(0px 0px 3px rgba(61, 22, 123, .5));
        
        &::placeholder{
          opacity: 0;
          visibility: hidden;
        }
        
        + .label-textarea{
          transform: translateX(2rem) translateY(-17rem) scale(.8);
          visibility: visible;
          color: rgba(61, 22, 123, 1);
          opacity: 1;
          font-weight: bold;
        }
      }
      
      &:not(:placeholder-shown){
        + .label-textarea{
          transform: translateX(2rem) translateY(-17rem) scale(.8);
          visibility: visible;
          color: rgba(61, 22, 123, 1);
          opacity: 1;
          font-weight: bold;
        }
      }
  }
}

.footer{
  background-color: rgba(75, 25, 125, 1);
  text-align: center;
  color: $text-color-white;
  padding: 5rem;
  font-size: $text-normal;
  line-height: 2;

  a{
    text-decoration: none;
    color: rgba(61, 22, 123, 1);
    transition: all 3s;
    
    &:hover{
      color: rgba(135, 47, 227, 1);
    }
  }
  
  @media(max-width: $at-md){
    padding-bottom: 8rem;
  }
}
.footer-photo{
  animation: fadeIn .8s, scaleCenter .8s;
  border: 1px solid black;
  margin: auto;
  width: 50%;
  height: 30vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-image: url(https://lh3.googleusercontent.com/BCit_5gquOyuc2IoGm3e83u_HYtJlvJtN8KxUUblsorKA1s8efux9BV-yPE86tSJCEVsTArV2h48c0qppFOk17qUWg2h-fj_dUXIXDWv2TsARA6Fh__qK7sOY0YiG0cvxUOuXIvS77uLo1-H0lzJ1sZTFoFCJhAOSX0R8rvpCGhAxmv8VCWE5hlCkFcqrVxkAolDjPGCIAd-dsxjPiQx0yOKzN_a9_bAXXKlPJvgSHYdGrygQlnQAlXEAJ-jJsUu7hptai_QfeoeIC8kSRei3eHJRV8msA9qOEFybM7tTOC1js3Q9lgaClaslNdDAo-YOez7JO0MVFbMjdwqAgpN2QDbbp-uQURlNkbCj5Ap3eVBU4j0WxA_qw_apf4dZpRCskE1BT6QceVNUTFHEZ18a4amc8Iwmx6hEcyz0dIeQ_onvKE2S8dhZdxQsqBv1TzgVhOGoPbyBMMrx_bxZy0Ywh1dg0CODBYCfg_Gqy6EvLRGFfNgJwlwti3JdicaN23JWzSEMbgWeCDsoaQNak4gFg28T6WXoPqMs7XyK4-KsHp2UprOH0_1ZpCu8b9zx3MlI-SHjsgect1FVWpsSUSkZq-VWUczNohQr8-JSZHSzkjCJv3aHc7MDL0tTsQUvSsYhUqpGsQX21Fbg6ecrVXThqiBsVVou8hQ4elAPfrsExWI2IDCK9jKJGx29q3_XCfY1VoPw3aNOxh1JI0OHd77RUZM0w=s1190-no?authuser=0);
}

///MOBILE MENU///
.menu-icon{
  cursor: pointer;
  line-height: 0;
  font-size: $menu;
  color: #fff;
  background-color: rgba($color-dark-grey, .6);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border: 1px solid rgba($color-light-grey, .6);
  border-radius: 9999px;
  z-index: 9999999999;
  top: 2rem;
  right: 2rem;
  
  &:active{
    top: 2.4rem;
    color: #ccc;
  }
}

.mobile-menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgba($color-dark-grey, .80);
  backdrop-filter: blur(3px);
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: $text-huge;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  text-align: center;
  animation: fadeIn 1s;
  
  a{
    color: $color-white;
    text-decoration: none;
  }
  
  ul li{
    margin-bottom: 2rem;
    text-decoration: uppercase;
    list-style: none;
  }
  
    span{
    margin: 2rem;
    margin-bottom: 4rem;
    padding: .8rem;
    border-radius: 20px;
    float: left;
    font-weight: bold;
    color: $text-color-dark;
    font-size: $text-huge;
    background-color: rgba(75, 25, 125, 1);
    
      &:hover{
        cursor: pointer;
      }
  }
}
